.delete-modal {
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.delete-modal-content {
    background-color: white;
    border-radius: 20px;
    margin: auto;
    padding: 15px;
    position: relative;
    width: 30%;
    z-index: 1;
}

.delete-modal-content h1 {
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.close-button {
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: #dedede;
    cursor: pointer;
    text-align: center;
}

.close-button:hover {
    color: #ff0000;
    background-color: #dedede;
}

.student-info {
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    h5.delete-student-header {
        font-size: 14px;
    }
    .delete-modal-content {
        width: 270px;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 600px) {
    .delete-modal-content {
        width: 350px;
    }
}

@media only screen and (min-width: 768px) {
    .delete-modal-content {
        width: 400px;
    }
}

@media only screen and (min-width: 992px) {
    .delete-modal-content {
        width: 500px;
    }
}

@media only screen and (min-width: 1200px) {
    .delete-modal-content {
        width: 600px;
    }
}

